.float_button {
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(96, 125, 139);
    background: rgba(96, 125, 139, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.float_button i {

    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.float_button:hover {
    background: rgba(96, 125, 139, 0.9);
}
.float_button:hover i {
    color: #fff;
    top: 5px;
}
.up
{
  line-height: 50px;
  width: 43px;
  height: 50px;
  padding: 10px;
  padding-left: 17px;
}


.float_btn {
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 80px;
    background: rgba(96, 125, 139);
    background: rgba(96, 125, 139, 0.7);
    width: 100px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    /* border-radius: 35px; */
      display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.float_btn:hover {
    background: rgba(96, 125, 139, 0.9);
}
.float_btn:hover i {
    color: #fff;
    top: 5px;
}
.table_renew td
{
  width: 50%;
  border-left: none;
}
#edit_bussline,#add_line_col
{
    border-radius: 8px;
}
/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}
.as_text
{
border:0 solid transparent;
background-color: transparent;
cursor:pointer;
}
input[type="text"]:read-only {
  background: white;
}
.jumbotron
{
  background-color: #f5f5f5;
}

.btn-group.special {
  display: flex;
}


.spec .btn {
  flex: 1;
  width: 100%;
}


html, body {

}

.fillthis{border-color:#ffcc80;}

.ui-formSlide {
  display: block;
  position: relative;
  padding: 0;
  font-size: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  height: 100%; }
  .ui-formSlide li[data-step] {
    width: 100%;
    vertical-align: top;
    font-size: 16px;
    display: none;
    white-space: normal; }
    .ui-formSlide li[data-step] .ui-step-content {
      opacity: 0;
      -webkit-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
      -moz-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
      -ms-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
      -o-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all;
      transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) all; }
      .ui-formSlide li[data-step] .ui-step-content.in {
        opacity: 1; }
    .ui-formSlide li[data-step].active {
      display: inline-block; }

/* custom */
html, body {
  font-family: "Century Gothic", sans-serif; }

* {
  box-sizing: border-box; }

li {
  padding: 5px; }
  li .ui-step-content {
    padding: 40px; }

ul {
  padding: 0;
  margin: 0;
  display: block; }

.ui-scalable {
  transform-origin: 0 0; }

.card {
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 3px; }

.table {
  display: table;
  width: 100%; }
  .table.table-full {
    height: 100%; }
  .table .table-row {
    display: table-row; }
  .table .table-cell {
    display: table-cell; }

.v-align-top {
  vertical-align: top; }

.v-align-middle {
  vertical-align: middle; }

.v-align-bottom {
  vertical-align: bottom; }

.wrapper {
  width: 90%;
  height: 100%;
  margin: 20px auto;
  position: relative; }

.buttons {
  padding-top: 20px;
  text-align: center; }

button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px;
  background: #33adff;
  border-radius: 8px;
  min-width: 100px;
  border: 0;
  color: white;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  button:hover {
    background: #1aa3ff; }
  button:active, button:focus {
    outline: none; }
